name: Zope Interface PyInstaller Test

on:
  push:
  pull_request:

jobs:
  windows-test:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      #- name: Run script normally
      #  run: |
      #    python main.py

      - name: Build with PyInstaller
        run: |
          pyinstaller build.spec --noconfirm

      - name: Run built EXE
        run: |
          .\dist\zope_test.exe